<a href="https://colab.research.google.com/github/Jony17shi/Day1-Assignment/blob/main/Day2_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
list1 = [1,'abc',2,3]#list is mutable can store characters and numbers and values can be change and written in []
item1 = ('one', 2,3)# tuple is immutable can store char and number but we cant change the values and written in ()
type(list1)

list

In [ ]:
type(item1)

tuple

## 2.How list is different from an array

In [ ]:
import numpy as np
myarray = np.array([1,2,3,4])#homogenous only stores numbers
print("the elements of array are:",myarray)
mylist= ['abc', 1, 2, 'char']#heterogenous store characters and number
print("the list are:", mylist)

the elements of array are: [1 2 3 4]
the list are: ['abc', 1, 2, 'char']

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
l1 = list(map(int,input("enter elements: ").split()))
print("l1 elements are:",l1)
l1.append(int(input("enter number ")))
print("append element:", l1)
l2=[]
l2=l1.copy()
print("copy element:", l2)
l1.sort()
print("sort element:", l1)
l1.extend([10, 11])
print("extended list:", l1)
cnt=l1.count(int(input(" enter element to count")))
print("count of element is:",cnt)
print("index number is:", l1.index(4))
print("pop ele", l1.pop(0))
print("enter inserting number:")
l1.insert(45,56)
print("insert element:", l1)
print("max element:", max(l1))
print("min element:", min(l1))
l1.reverse()
print("reverse element:", l1)
l1.clear()
print("clear element:", l1)

enter elements: 1 2 4 7 4 3 6 5 7 4
l1 elements are: [1, 2, 4, 7, 4, 3, 6, 5, 7, 4]
enter number 4
append element: [1, 2, 4, 7, 4, 3, 6, 5, 7, 4, 4]
copy element: [1, 2, 4, 7, 4, 3, 6, 5, 7, 4, 4]
sort element: [1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7]
extended list: [1, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 10, 11]
 enter element to count4
count of element is: 4
index number is: 3
pop ele 1
enter inserting number:
insert element: [2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 10, 11, 56]
max element: 56
min element: 2
reverse element: [56, 11, 10, 7, 7, 6, 5, 4, 4, 4, 4, 3, 2]
clear element: []

## 4, How would you divide the list into two parts?

In [ ]:
lst= [1 , 2, 3 , 4 ,5 , 6, 7 , 8,9]
first_half =lst[0:len(lst)//2]
second_half=lst[len(lst)//2::]
print("first half number in list is:", first_half)
print("second half number in list is:", second_half)

first half number in list is: [1, 2, 3, 4]
second half number in list is: [5, 6, 7, 8, 9]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,21,23,24]
l2=[]
l3=[]
for i in A:
  if i%3 ==0:
    l2.append(i)
print("filtered list is:", l2)
for x in l2:
  if x%2==0:
    l3.append(x)
print("output list is:", l3)

filtered list is: [3, 6, 9, 21, 24]
output list is: [6, 24]

## 6. How you can access keys and values simultaneously and update its value

In [4]:
item1= {1:23,2:45,3:67,8:90}
print("dictonary is:", item1)
for keys,values in item1.items():
  print(keys,values)

dictonary is: {1: 23, 2: 45, 3: 67, 8: 90}
1 23
2 45
3 67
8 90

## 7. Write python program to join, merge, concatente the two dictionaries..

In [12]:
dit1 = {12:1,13:2,34:"abc"}
dit2 ={11:8,21:6,35:"hjg"}
dit1.update(dit2)
print(" dictonary is:", dit1)

 dictonary is: {12: 1, 13: 2, 34: 'abc', 11: 8, 21: 6, 35: 'hjg'}

## 8. How would you check a specific keys from the dictionary??

In [22]:
my_dict = {'apple:1,' 'banana':2 , 'grapes':3}
key_tocheck=int(input("enter key to check"))
if [key_tocheck].count(key_tocheck)==1:
  print(f"key'{key_tocheck}'exists.")
else:
  print(f"key'{key_tocheck}'doesnot exists.")

enter key to check2
key'2'exists.

## 9. write a python program to find the unique vowel present in the sentence

In [25]:
A = " harshitha is student"
l1=["a","e","i","o","u"]
l3=[]
l4=[]
for i in A:
  if i in l1:
    l3.append(i)
print("vowels are:", l3)
for x in A:
  if x not in l3:
      l4.append(x)
print("no vowels:", l4)

vowels are: ['a', 'i', 'a', 'i', 'u', 'e']
no vowels: [' ', 'h', 'r', 's', 'h', 't', 'h', ' ', 's', ' ', 's', 't', 'd', 'n', 't']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [29]:
tup=(1,23,45,66)
x=int(input("enter element"))
tup+=(x,)
print("adding element to tuple", tup)

enter element2
adding element to tuple (1, 23, 45, 66, 2)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [30]:
ist = [(2,3),(4,5),(6,4)]
l2=[]
for i in ist:
  l2.append(i[0]+i[1])
print(tuple(l2))

(5, 9, 10)